* {
  margin: 0;
}
.card {
  background: rgb(0, 0, 255);
  font-family: monospace;
  font-size: 17px;
  color: white;
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  h3 {
    margin-top: 10px;
  }
  .credit {
    margin-top: 10px;
    a {
      color: white;
    }
  }
}
